.error{
	color: #ff0000;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(242, 234, 234);
}


#footer {
	padding-left: 15px;
	margin-left: auto;
	background-color: rgb(116, 185, 218);
	font-family: "Times New Roman", Times, serif;	
	position:absolute;
   	bottom:0;
   	width:100%;  
}

#header {
	padding-left: 15px;
	margin-left: auto;
	background-color: rgb(116, 185, 218);
	font-family: "Times New Roman", Times, serif;
} 

#navigationBar{
    background-color: rgb(162, 194, 204);
}

.homeTable{
	height:100%;
}

#tableTitle{
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

#AddressUpperDiv, #AddressLowerDiv{
	display: inline-block;
	padding-bottom: 10px;
}

#AddressFieldset{
	border-style : ridge;
	border-color: black;
	border-width: 2px;
}

.AddressTitle{
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.formTitle{
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
#btnAddAddress, #btnDelAddress{
	margin-bottom: 10px;
}